{% extends 'share/mainpage.html' %}
{% load static %}
{% load my_templatetag %}

{% block title %}
{{ super }} سبد خرید|
{% endblock %}



{% block body %}
{% include 'partials/header-h2.html' %}

      <div class="container">
            <div class="row">
            <div class="col-2"></div>
              <div class="col-8">

                <div  class="alert border shadow mt-8 w-100" role="alert">
                  <p class="col-12 text-dark fw-bold">پیام خطا :</p>
             
                </hr class="text-dark">
              </br>
                  <a class="text-dark fw-bold mt-4 " href="https://idpay.ir">
                      {{txt}}
                  </a>
                </div>

              </div>
              <div class="col-2"></div>
            </div>
          </div>



          <div class="container">
            <div class="row">
            <div class="col-2"></div>
              <div class="col-8">
                <p>
                  <a href="{% url 'WebSite:salebacket' %}" type="submit" 
                  class="btn btn-info w-100 shadow mt-2 mb-12 fw-bold">
                  بازگشت به صفحه پرداخت</a>
                </p>
                
              </div>
              <div class="col-2"></div>
            </div>
          </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% include 'partials/footer-small.html' %}
    {% include 'partials/mobile-menu.html' %}
    {% endblock %}