{% extends 'share/mainpage_for_other_pages.html' %}
{% load static %}

{% block title %}
{{ super }} گزارش درباره ما|
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% if user.is_superuser %}

<div class="wrapper">
    <div class="page-wrapper">
        {% include 'partials/dashboard_header.html' %}
        <div class="page-content">

            <nav aria-label="breadcrumb " class="breadcrumb-nav mb-3">
                <div class="container-fluid ">
                    <ol class="breadcrumb">
                        <li style="color: black; font-weight: bold;" class="breadcrumb-item"><a
                                href="{% url 'WebSite:login' %}">خانه</a></li>
                        <li style="color: black; font-weight: bold;" class="breadcrumb-item"><a
                                href="{% url 'WebSite:productsgroupsLV' id=0 %}">داشبورد</a></li>
                        <li style="color: black; font-weight: bold;" class="breadcrumb-item active" aria-current="page">
                            گزارش ما که هستیم</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="row row-cols-1 row-cols-lg-4">
                {% include 'partials/side_menu_dashboard.html' %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div style="margin-bottom: 1%;">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'WebSite:aboutreport' %}">اعضای اصلی مجموعه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'WebSite:aboutteamreport' %}">ما که هستیم</a>
                            </li>
                        </ul>
                    </div>
                    <div class=" border-right" style="display: inline-block;" aria-label="...">
                        <a class="btn btn-success rounded shadow"
                            href="{% url 'WebSite:create' 'aboutusp1' 'aboutusp1Form' 'aboutteamreport' 'aboutusteam_create' 'aboutteam' %}">
                            ایجاد</a>
                    </div>

                    <div class=" border-right" style="display: inline-block;" aria-label="...">
                        <a class="btn btn-danger rounded shadow" id="aboutBtnDelete" href="#"> حذف گروهی</a>
                    </div>

                    <table class=" col-12 border-bottom" style="margin-bottom: 10px;">
                        <tr>
                            <td class="container"
                                style="text-align: center; padding: 1%; font-size: larger; font-weight: bolder;">
                                گزارش درباره اعضای اصلی مجموعه ما
                            </td>
                        </tr>
                    </table>

                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-bordered" style="width: 100%;">
                                    <thead>
                                        <tr class="font-weight-bold text-center">
                                            <th style="text-align:center;"> <input id="checkAllForm" type="checkbox"
                                                    class="selectAll " name="selectAll" value="all"></th>
                                            <th class="text-center">شماره</th>
                                            <th class="text-center">کلید ها</th>
                                            <th class="text-center">ما کی هستیم</th>
                                            <th class="text-center">عکس تیم</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if aboutteam %}
                                        {% for result in aboutteam %}
                                        <tr class="text-center">
                                            <td></td>
                                            <td class="text-center">{{ result.id }}</td>
                                            <td class="text-center">
                                                <a class="text-decoration-none text-success"
                                                    href="{% url 'WebSite:update' 'aboutusp1' 'aboutusp1FormUpdate' 'aboutteamreport' 'aboutusteam_update' 'aboutteam' result.id %}">
                                                    <img src="{% static 'media/editanddelete/edit.png' %}"
                                                        
                                                        style="width: 20px; height: 20px;  display: inline-block;">
                                                    ویرایش</a> |
                                                <a class="text-decoration-none text-danger"
                                                    href="{% url 'WebSite:delete' 'aboutusp1' 'aboutteamreport' result.id %}">حذف
                                                    <img src="{% static 'media/editanddelete/delete2.png' %}"
                                                        
                                                        style="width: 20px; height: 20px;  display: inline-block;"></a>
                                            </td>
                                            <td class="text-center">{{ result.whoweare }}</td>
                                            <td class="text-center"><img src="{% static 'media/' %}{{ result.teamimg }}"
                                                    alt="">{{ result.teamimg }}
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </div>
    </div>
</div>

{% endif %}
{% endif %}
{% endblock %}