{% extends 'share/mainpage_for_other_pages.html' %}
{% load static %}

{% block title %}
{{ super }} گزارش سفارش های ارسال نشده |
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% if user.is_superuser %}

<div class="wrapper">
    <div class="page-wrapper">
        {% include 'partials/dashboard_header.html' %}
        <div class="page-content">
            <nav aria-label="breadcrumb " class="breadcrumb-nav mb-3">
                <div class="container-fluid ">
                    <ol class="breadcrumb">
                        <li style="color: black; font-weight: bold;" class="breadcrumb-item"><a
                                href="{% url 'WebSite:login' %}">خانه</a></li>
                        <li style="color: black; font-weight: bold;" class="breadcrumb-item"><a
                                href="{% url 'WebSite:productsgroupsLV' id=0 %}">داشبورد</a></li>
                        </li>
                        <li style="color: black; font-weight: bold;" class="breadcrumb-item" aria-current="{% url 'WebSite:productsgroupsLV' id=0 %}">گزارش سفارش های
                                ارسال نشده </li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="row row-cols-1 row-cols-lg-4">
                {% include 'partials/side_menu_dashboard.html' %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div style="margin-bottom: 1%;">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'WebSite:adminorders' %}">گزارش سفارش های
                                    ارسال نشده </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'WebSite:adminsentorders' %}">گزارش سفارش
                                    های ارسال شده</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'WebSite:adminorderscanceled' %}">گزارش سفارش
                                    های کنسل شده</a>
                            </li>
                           
                        </ul>
                    </div>
                        <script>
                                function posttracking() {
                                    window.open(
                                        "https://tracking.post.ir/");
                                }
                                function tipaxtracking() {
                                    window.open(
                                        "https://tipaxco.com/tracking");
                                }
                        </script>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a   class="btn btn-danger" id="UserCancelOrdersButton" href="#"> لغو سفارش</a>
                            <!-- Button trigger modal -->
                            <a  class="btn btn-warning" data-bs-toggle="modal" href="#"
                                data-bs-target="#exampleScrollableModal">تغییر اطلاعات ارسال</a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleScrollableModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-body m-4">
                                            <p>وضعیت ارسال :</p>
    
                                            <select id="sendstatus" name="sendstatus" class=" single-select ">
                                                <option value="">--------</option>
                                                <option value="0">ارسال نشده</option>
                                                <option value="1">ارسال شده</option>
                                                <option value="2">برگشت داده شده</option>
                                            </select>
                                        <hr/>
                                        <p>روش ارسال :</p>
    
                                            <select id="sendtype" name="sendtype" class=" single-select ">
                                                <option value="">--------</option>
                                                <option value="0">تحویل حضوری</option>
                                                <option value="1">ارسال با پیک</option>
                                                <option value="2">ارسال با پست پیش تاز</option>
                                                <option value="3">رزرو سفارش</option>
                                                
                                            </select>
                                        <hr/>
                                        <p>کد پیگیری پست / شماره تماس پیک :</p>
                                        <input id="input_post_code" name="postcode" type="text"  value="" class="form-control" >
                                            
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">بستن</button>
    
                                            <button id="change_order_status" type="button" class="btn btn-success"
                                                data-bs-dismiss="modal">ذخیره تغییرات</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <a onclick="posttracking()" type="button" class="btn btn-outline-secondary">
                        <img style="max-width: 30px; max-height: 30px;" src="{% static 'media/tracking_key_icon/post.png' %}" >
                        پست</a>
                        
                        <a onclick="tipaxtracking()" type="button" class="btn btn-outline-secondary">
                    <img style="max-width: 60px; max-height: 30px;" src="{% static 'media/tracking_key_icon/tipax.png' %}" >&nbsp;&nbsp; تیپاکس</a>
                        <!-- <button type="button" class="btn btn-outline-dark"><i
                                class="bx bx-comment-detail"></i>
                        </button> -->
                    </div>
                  
                    <table class=" col-12 border-bottom" style="margin-bottom: 10px;">
                        <tr>
                            <td class="container"
                                style="text-align: center; padding: 1%; font-size: larger; font-weight: bolder;">
                                لیت سفارش های ارسال نشده
                            </td>
                        </tr>
                    </table>

                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                 <table id="adminorders">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"> <input type="checkbox" class="selectAll"
                                                    name="selectAll" value="all">
                                            </th>
                                            <th>کد پیگیری سیستم</th>
                                            <th>کد پیگیری بانک </th>
                                            <th>تاریخ ارسال</th>
                                            <th>کد پیگیری مرسوله / شماره پیک</th>
                                            <th>جزییات سفارش</th>
                                            <th>شماره کارت مشتری</th>
                                            <th>وضعیت پرداخت</th>
                                            <th>وضعیت ارسال</th>
                                            <th>روش ارسال</th>
                                            <th>تاریخ ثبت</th>
                                            <th>نام مشتری</th>
                                            <th>مبلغ</th>
                                            <th>شماره تماس</th>
                                            <th>ایمیل</th>
                                            <th>آدرس</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        
                                    </tbody>
                                </table>
                            </div><!-- End .col-lg-10 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </div>
    </div>




</div>
{% endif %}
{% endif %}
{% endblock %}