{% load static %}

<footer class="mt-3 footer col-xl-12 col-lg-12 col-md-12 d-sm-none d-md-block d-none d-sm-block">
    <div class="footer-bottom">
        <div class="container">

            <p class="footer-copyright">Copyright © 2022 تمامی حقوق محفوظ است.</p>

            <ul class="footer-menu">
                <li><a href="#">خطی مشی</a></li>
                <li><a href="#">قوانین و مقررات</a></li>
            </ul>

            <div class="social-icons social-icons-color">

                <a href="https://www.instagram.com/WebSiteProject_ir/" class="social-icon social-instagram"
                    title="اینستاگرام" target="_blank"><i class="icon-instagram"></i></a>
                <a href="https://wa.me/qr/AX24KLKJFKAWP1" class="social-icon social-whatsapp" title="واتس اپ"
                    target="_blank"><i class="icon-whatsapp"></i></a>
                <a href="#" class="social-icon social-telegram" title="تلگرام" target="_blank"><i
                        class="icon-telegram"></i></a>

            </div>
        </div>
    </div>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
</footer>

<style>
    .smallfootericops{
        font-size: 220%;
    }
</style>
<footer style="border-radius: 20px;" 
class="shadow-lg footer d-xl-none d-lg-none d-xl-block 
    col-md-12 col-sm-12 col-xs-12 border fixed-bottom">
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-3">
                    <a href="{% url 'WebSite:login' %}">
                        <i class="fas fa-home smallfootericops" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-3"><i class="fas fa-money-bill-alt smallfootericops" aria-hidden="true"></i></div>
                <div class="col-3">
                    <a href="{% url 'WebSite:salebacket' %}" id="reloadcount" >
                        <i class="fas fa-shopping-cart smallfootericops" aria-hidden="true"></i>
                        {% if sellbascketCount %}
                        <span class="cart-count">{{ sellbascketCount }}</span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-3">
                    {% if user.is_authenticated %}
                    <div class="dropdown" data-visible="false" style="color: black;">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            title="کاربر" style="color: black;">
                        </a>
                        <div class="dropdown-menu ">
                            <a {% if user.is_superuser %} href="{% url 'WebSite:accountingreports' %}" {% else %}
                                href="{% url 'WebSite:dashboardS' %}" {% endif %}>
                                <i class="fas fa-user-circle smallfootericops" aria-hidden="true"></i>
                                <a href="{% url 'WebSite:logout' %}">
                                    <i class="fas fa-power-off smallfootericops" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    {% else %}
                    <a id="enter" href="{% url 'WebSite:login' %}" data-toggle="modal" data-target="#loginmodal" role="dialog"
                        aria-modal="true">
                        <i class="fas fa-user-circle smallfootericops" aria-hidden="true"></i></a>

                            <!-- Modal -->
                            <div class="modal fade shadow" id="loginmodal" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <a class="close fw-bolder" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="icon-close"></i></span>
                                            </a>
                                            <div class="form-box">
                                                <div class="form-tab">
                                                    <ul class="nav nav-pills nav-fill" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="signin-tab-2"
                                                                data-toggle="tab" href="#signin-2" role="tab"
                                                                aria-controls="signin-2" aria-selected="true"
                                                                style="color: #00b6be;">ورود</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="registerform" class="nav-link" id="register-tab-2"
                                                                data-toggle="tab" href="#register-2" role="tab"
                                                                aria-controls="register-2" aria-selected="false"
                                                                style="color: #00b6be;">ثبت
                                                                نام</a>
                                                        </li>
                                                    </ul>

                                                    <div class="tab-content">
                                                        <div style="margin-top: 1%;"
                                                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            {% if error_list %}
                                                            {% for error in error_list %}
                                                            <p class="font-wait-bold border border-danger rounded text-danger shadow"
                                                                style="padding: 1%; margin-right: 1%;">
                                                                {{ error_list.0 }}</p>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="tab-pane fade show active" id="signin-2"
                                                            role="tabpanel" aria-labelledby="signin-tab-2">
                                                            <form method="POST" role="form" id="login-form-v3"
                                                                enctype="multipart/form-data" autocomplete="off"
                                                                action="{% url 'WebSite:login' %}" name="login">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <label>نام کاربری یا آدرس ایمیل
                                                                        *</label>
                                                                    {{ form.username }}
                                                                </div><!-- End .form-group -->
                                                                <div class="form-group">
                                                                    <label>رمز عبور *</label>
                                                                    {{ form.password }}
                                                                </div><!-- End .form-group -->
                                                                <div class="form-footer col-12">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                 
                                                                                <button class="g-recaptcha shadow btn rounded font-weight-bold" 
                                                                                    data-sitekey="6LesNS4cAAAAADrSOqYU0CWHUq9Ta7m3dJBNZ7xB" 
                                                                                    data-callback='onSubmit' 
                                                                                    data-action='submit'
                                                                                    style="display: inline-block; color: white; background-color: #00b6be;">
                                                                                    ورود
                                                                                </button>
                                                                                    <script src="https://www.google.com/recaptcha/api.js"></script>
                                                                                    <script>
                                                                                    function onSubmit(token) {
                                                                                        document.getElementById("login-form-v3").submit();
                                                                                    }
                                                                                    </script>
                                                                                   
                                                                            </td>
                                                                            
                                                                        </tr>


                                                                    </table>
                                                                    <div class="row">
                                                                        <a href="#" style="color: black;"
                                                                            class="col-12 p-3 forgot-link font-wait-bold text-center text-success"
                                                                            id="forgetpass">رمز
                                                                            عبور خود
                                                                            را فراموش کرده اید؟</a>
                                                                    </div>

                                                                </div><!-- End .form-footer -->
                                                            </form>

                                                            <div id="phone"></div>
                                                            <p id="clickforgetagain"></p>
                                                        </div>
                                                        <div class="tab-pane fade" id="register-2" role="tabpanel"
                                                            aria-labelledby="register-tab-2">
                                                            {% if registererror %}
                                                            {% for error in registererror %}
                                                            <p class="fw-bold border border-danger text-danger shadow m-5 p-3"
                                                                style="border-radius: 5px;">
                                                                {{ error }}</p>

                                                            {% endfor %}
                                                            {% endif %}
                                                            <form action="{% url 'WebSite:register' %}" method="POST"
                                                                enctype="multipart/form-data" autocomplete="off">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <span style="color: red; margin-top: 1%;">کاربر
                                                                        گرامی : فیلد هایی که با ستاره قرمز
                                                                        مشخص
                                                                        شده اند
                                                                        اجباری می باشد .</span>

                                                                    <label for="first_name" style="margin-top: 5%;">نام
                                                                        و نام خانوادگی
                                                                        <span style="color: red;">*</span></label>
                                                                    <input type="text" class="form-control"
                                                                        id="first_name" name="first_name" required>

                                                                    <label for="last_name">آدرس
                                                                        </label>
                                                                    <input type="text" class="form-control"
                                                                        id="last_name" name="last_name">

                                                                    <label for="email">آدرس ایمیل
                                                                        <span style="color: red;">*</span>
                                                                    </label>
                                                                    <input type="email" class="form-control" id="email"
                                                                        name="email" placeholder="example@gmail.com" required>

                                                                </div><!-- End .form-group -->
                                                                <div class="form-group">

                                                                    <label for="cellphone">شماره تلفن
                                                                        همراه<span style="color: red;">*</span></label>
                                                                    <input type="tel" placeholder="09xxxxxxxxx"
                                                                        pattern="[0]{1}[9]{1}[0-9]{9}"
                                                                        class="form-control" id="cellphone"
                                                                        name="cellphone" required>
                                                                    <p class="col-12 d-block text-right text-danger mt-2 fw-bold" >مشتری گرامی : لطفا برای نام کاربری فقط از حروف انگلیسی و سمبل ها استفاده شود </p>
                                                                    <label for="username" style="margin-top: 5%;">نام
                                                                        کاربری
                                                                        <span style="color: red;">*</span></label>

                                                                    <input placeholder="Abc@#!..." type="text" class="form-control"
                                                                        id="username" name="username" required>


                                                                    <label for="password" style="margin-top: 5%;">کلمه
                                                                            عبور
                                                                            <span style="color: red;">*</span></label>

                                                                    <input type="password" class="form-control m-1"
                                                                        id="password" name="password" placeholder="کلمه عبور"  value=""
                                                                        required>
                                                                    <input type="password" class="form-control m-1"
                                                                         name="password2" placeholder="تکرار کلمه عبور" value=""
                                                                        required>

                                                                </div><!-- End .form-group -->
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 m-3">
                                                                    <span class="p-10 row" style="text-align: center;">{{form.captcha}}</span>
                                                                    
                                                                </div>
                                                                
                                                                <div class="form-footer">

                                                                    <button type="submit"
                                                                        class="shadow btn rounded font-weight-bold rounded border"
                                                                        style="background-color: #00b6be; color: white;">
                                                                        ثبت نام
                                                                        <i class="icon-long-arrow-left"></i>
                                                                    </button>

                                                                   
                                                                </div><!-- End .form-footer -->
                                                            </form>
                                                        </div><!-- .End .tab-pane -->
                                                    </div><!-- End .tab-content -->
                                                </div><!-- End .form-tab -->
                                            </div><!-- End .form-box -->
                                        </div>
                                    </div>
                                </div>
                            </div>
           
                            {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
</footer>
