{% load static %}

<div class="w-100 p-3">
    <div class="container border-bottom mt-1">
        <div class="row">
            <div class="p-2 bg-white" style="display: inline-block;" aria-label="...">
                <a class="btn btn-success radius-25 shadow" data-bs-toggle="modal" data-bs-target="#tools" id="BtnCreate" href="#"> <i class="fa fa-plus" aria-hidden="true"></i> ایجاد</a>
                <!-- <a class="btn btn-warning radius-25 shadow" data-bs-toggle="modal" data-bs-target="#tools" id="BtnUpdate" href="#"> <i class="fa fa-edit"></i> ویرایش</a> -->
                <a class="btn btn-danger radius-25 shadow" data-bs-toggle="modal" data-bs-target="#tools" id="BtnGprDelete" href="#"> <i class="fa fa-trash" aria-hidden="true"></i> حذف</a>
                <a class="btn btn-secondary radius-25 shadow" id="BtnTools" href="#"> <i class="fa fa-tools" aria-hidden="true"></i> امکانات</a>
            </div>
        </div>
    </div>
</div>
