{% extends 'share/mainpage.html' %}
{% load static %}

{% block title %}
{{ super }} ورود|
{% endblock %}


{% block body %}
<img src="{% static 'media/logo/logo.jpg' %}" class="container" 
style="max-width: 150px; max-height: 150px">
<div class="container mt-5">
    <div class="row">
        <div class="border shadow p-5" style=" border-radius: 10px; border: 1px black;">
            <p class="fw-bold display-6">مشتری گرامی با سپاس از خرید شما:</p>
            <p class="display-6 mt-4 text-dark">سفارش شما با کد رهگیری {% if trackcode %}{{ trackcode }}{% else %} ----
                {% endif %} پرداخت گردید و لطفا جهت ثبت نهایی در سیستم روی کلید تکمیل عملیات کلیک فرمایید .</p>
            <p class="display-6 mt-4 fw-bold text-danger">توجه : در صورت بستن پنجره در این مرحله سفارش شما تکمیل نخواهد
                شد .</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
    <a class="col-xsl-4 col-lg-4 col-12
    btn btn-success text-center p-4 text-light fw-bold shadow-lg mt-4" 
    style="border-radius: 10px;" 
    {% if user.is_superuser %} href="{% url 'WebSite:accountingreports' %}" {% else %}
        href="{% url 'WebSite:dashboardS' %}" {% endif %}>

        تکمیل عملیات</a>
    </div>
</div>

{% include 'partials/mobile-menu.html' %}
{% endblock %}